<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="pages-wrapper">
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>
            <!--Sistema de rutas-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3>Estas son las rutas de la aplicacion</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
